@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-card">
    <h1>@ViewBag.Title</h1>
    <div class="card">
        <div class="card-body m-2">
            <div>Your stream data has been loaded!</div>
            <div class="mt-3">
                Try these features now:
                <div class="mt-2 row align-items-center">
                    @*
                    <div class="col-2">Period</div>
                    <div class="col-4">
                        <select class="form-select" aria-label="Select period" id="period-select">
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly" selected>Yearly</option>
                            <option value="thisyear">This Year</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div id="datetime-range-pick" class="mt-2" hidden>
                            Datetime picker
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-green">Search</button>
                </div>*@
                <div class="mt-2 d-flex justify-content-center gap-3">
                    <button class="btn btn-white" id="btn-top-tracks">Top Tracks</button>
                    <button class="btn btn-white" id="btn-top-artists">Top Artists</button>
                    <button class="btn btn-white" id="btn-top-albums">Top Albums</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#period-select").change(() => {
        console.log($("#period-select").find(":selected").val());
        $("#datetime-range-pick").prop('hidden', !($("#period-select").find(":selected").val() == "custom"))
    })

    $('#btn-top-tracks').click(() => {
        location.href = "/Stats/TopTracks";
    })
    $('#btn-top-artists').click(() => {
        location.href = "/Stats/TopArtists";
    })
    $('#btn-top-albums').click(() => {
        location.href = "/Stats/TopAlbums";
    })
</script>