html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fw-lightbold {
    font-weight: 600;
}

.fw-extrabold {
    font-weight: 800;
}

.number-top20 {
    width: 50px;
}

.number-all {
    width: 60px;
}

/* Spotify themed styles */
body {
    background: #000000;
    color: white;
}

.card {
    background: #1f1f1f;
    border-radius: 8px;
}

.btn-round {
    border-radius: 100px;
}

.btn-green {
    background: #1ed760;
    font-weight: 500;
}

.btn-white {
    background: white;
    font-weight: 500;
}

.btn-outline-white {
    color: white;
    border-color: white;
    border-width: thin;
    font-weight: 500;
}

.btn-outline-white:hover {
    box-shadow: 0 0 1px 1px white;
    color: white;
}

.main-card {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.background-black {
    background: black;
}