@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Spotify Stats</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-link dropdown-toggle nav-link text-light" href="#" role="button" id="menuStats" data-bs-toggle="dropdown" aria-expanded="false">
                                Top Stats
                            </a>
                            <ul class="dropdown-menu background-black" aria-labelledby="menuStats">
                                <li><a class="dropdown-item text-white" asp-controller="Stats" asp-action="TopArtists">Top Artists</a></li>
                                <li><a class="dropdown-item text-white" asp-controller="Stats" asp-action="TopTracks">Top Tracks</a></li>
                                <li><a class="dropdown-item text-white" asp-controller="Stats" asp-action="TopAlbums">Top Albums</a></li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    $('#menuStats').hover(() => {
        $('.dropdown-menu').toggle();
    })

    $('.dropdown-menu').hover(() => {
        $('.dropdown-menu').toggle();
    })
</script>

<style scoped>
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: black !important;
    }

    .dropdown-menu > li > a:active {
        background-color: lightgrey;
    }

    nav {
        position: fixed !important;
        top: 0;
        background: black;
        width: 100%;
        z-index: 1000;
    }
</style>