@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model JsonFile
@{
    ViewBag.Title = "Home";
}

<div class="main-card">
    <h1>Welcome!</h1>
    <div class="mb-3">
        <div class="card">
            <div class="card-body">
                <form id="frmLoadStream">
                    <label for="formFile" class="form-label">Input your streaming history files here:</label>
                    <input class="form-control" name="Files" type="file" multiple />
                    <div class="mt-4 d-flex justify-content-end gap-2 align-items-center">
                        <div class="spinner-border" role="status" hidden>
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <button class="btn btn-outline-white">Tutorial</button>
                        <button class="btn btn-green" id="btnLoad">Load Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => { 
        $('#btnLoad').click(function (e) {
            e.preventDefault();
            $('.spinner-border').prop('hidden', false);
            let formData = new FormData($("#frmLoadStream")[0]);
            $.ajax({
                url: "/Stats/LoadStreamFiles",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: (response) => {
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        location.href = "/Stats"
                    }
                    else {
                        alert(response.message, "danger");
                        $('.spinner-border').prop('hidden', true);
                    }
                },
                error: (errResponse) => {
                    console.error(errResponse);
                    debugger;
                }
            });
        });
    
    })
</script>